@import "lesshat";

// Fix slow transformations in iOS, Webkit


html {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}


// ::-webkit-scrollbar-thumb:vertical{width:10px;height:10px;background-color:#535353}
// ::-webkit-scrollbar{width:10px;height:5px;background:#000;margin-right:5px}

::-moz-selection { color: gold;  background: red; }
::selection      { color: gold;  background: red; } 

@font-face{
    font-family:'Gotham';
    src:url('/fonts/gotham.eot');
    src:url('/fonts/gotham.eot?#iefix') format('embedded-opentype'),url('/fonts/gotham.woff') format('woff'),url('/fonts/gotham.ttf') format('truetype'),url('/fonts/gotham.svg#Gotham-Medium') format('svg');
    font-weight:normal;
    font-style:normal
}



body {
    background-color: #211c6d;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.center {
    margin: 0 auto;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    }

// header {
//     padding-bottom: 52px;
// }

// .navbar-fixed-top {
// position: fixed;
// right: 0;
// left: 0;
// z-index: 1030;
// margin-bottom: 0
// }

// .header-gcba {
// height:30px;
// padding:10px 0;
// overflow:visible;
// background-color:#f9dd00;
// *background-color:#ffbd04;
// background-image:-o-linear-gradient(top,#ffe603,#ffbd04);
// background-image:linear-gradient(top,#ffe603,#ffbd04);
// background-image:-ms-linear-gradient(top,#ffe603,#ffbd04);
// background-image:-webkit-linear-gradient(top,#ffe603,#ffbd04);
// background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffe603),to(#ffbd04));
// background-image:-moz-linear-gradient(top,#ffe603,#ffbd04);
// background-repeat:repeat-x;
// border-top:1px solid #fdfd00;
// border-bottom:1px solid #ffc702;
// filter:progid:dximagetransform.microsoft.gradient(enabled=false);
// filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe603',endColorstr='#ffbd04',GradientType=0);
// box-shadow:0 0 6px #000
// }
// .header-gcba:hover,
// .header-gcba:active,
// .header-gcba.active,
// .header-gcba.disabled,
// .header-gcba[disabled] {
// background-color:#ffbd04;
// *background-color:#d6be00
// }

// .header-gcba:active,.header-gcba.active {
// background-color:#bda700
// }

// .header-gcba .logo {
// float:left;
// width:172px;
// height:33px;
// background:url(/img/logo-normal.png)
// }

// .header-gcba h2.slogan {
// font-family:"Gotham","Helvetica Neue","Helvetica",sans-serif;
// float:right;
// margin-top:-4px;
// font-size:15px;
// letter-spacing:-1px;
// color:#000
// }

// .header-gcba .logo,.header-gcba h2 {
// -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
// filter:alpha(opacity=70);
// -moz-opacity:.7;
// -khtml-opacity:.7;
// opacity:.7
// }



section {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 400px;
    max-width: 100%;
    min-width: 580px;
}

article {
    text-align: center;
    margin: 0 auto;
    clear: both;
    float: left;
    padding: 0 5%;
}

#navigationMap {
  position: fixed;
  right: 150px;
  top: 220px;
  width: 140px;
  height: 40px;
  z-index: 2999;
    ul li a {
        background: #aaa;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        position: fixed;
    }
}

#navigationMap .ascensorLink1,
#navigationMap .ascensorLink2, {
  margin-left: 30px; }

#navigationMap .ascensorLink2 {
  margin-left: 60px; }


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

       article {
            width: 280px;
       }


}


