body
{
	position: relative;
}
#phone
{
	background: #fff;
	height: 100%;
	width: 50%;
	margin-right: 285px;
	position: fixed;
	top: 0;
	right: 50%;
	z-index: 2;
	-webkit-overflow-scrolling: touch;
}
#phone:before,
#phone:after
{
	content: '';
	background: #fff;
	display: block;
	width: 40px;
	height: 50%;
	position: absolute;
	right: -40px;
	z-index: 0;
}
#phone:before
{
	bottom: 50%;
	margin-bottom: 350px;
}
#phone:after
{
	top: 50%;
	margin-top: 350px;
}
#phone > div
{
	background: url( ../img/phone.png ) 0 0 no-repeat transparent;
	width: 455px;
	height: 780px;
	margin: -370px 0 0 0;
	position: absolute;
	top: 50%;
	right: -265px;
	z-index: 1;
}
#phone iframe
{
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
	background: #eee;
	border: none;
	width: 320px;
	height: 480px;
	margin: 120px 0 0 70px;
}

.opl
{
	margin-top: -255px;
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 10;
}
.opl a
{
	width: 73px;
	height: 56px;
	text-indent: -9999px;
	display: block;
	background: url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
}

#page
{
	font-weight: bold;
	color: #fff;

	width: 100%;
	min-width: 500px;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	transition: background 2s ease;
}

#page.home {		background: #1ab8d3; }
#page.usage {		background: #52ae87; }
#page.options {		background: #d2d057; }
#page.events {		background: #ff8286; }
#page.contact {		background: #be8aba; }
#page.examples {	background: #3e4852; }


.section
{
	width: 450px;
	padding: 10px 0 100px 0;
	margin-left: 50%;
}
.section:after
{
	content: '';
	display: block;
	clear: both;
}

.section h1, 
.section h2,
.section h3
{
	background: url( ../img/titles.png ) 0 0 no-repeat transparent;
	text-indent: -1000px;
	width: 400px;
	height: 175px;
	overflow: hidden;
	margin: 200px 0 0 0;
}
.section h1
{
	height: 150px;
}
#usage h2
{
	background-position: 0 -175px;
}
#options h2
{
	background-position: 0 -350px;
}
#events h2
{
	background-position: 0 -525px;
}
#contact h3
{
	background-position: 0 -700px;
}
#examples h3
{
	height: 150px;
	background-position: 0 -1260px;
}
#examples a
{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 20px 20px 0;
	float: left;
}
#examples a:hover
{
	box-shadow: 0 0 30px rgba( 0, 0, 0, 0.4 );
}

.buttons
{
	background: url( ../img/buttons.png ) 0 0 no-repeat transparent;
	width: 420px;
	height: 82px;
	padding: 10px 42px 40px 42px;
	margin: 35px -42px 0 -42px;
}
.buttons a
{
	font-size: 13px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	text-indent: 80px;
	line-height: 120px;
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}
.buttons a span
{
	display: none;
}

#donate
{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 20px;
	margin: 40px -20px;	
}
#donate:after
{
	content: '';
	display: block;
	clear: both;
}
#donate form
{
	width: 120px;
	margin-top: 10px;
	float: left;
}
#donate p
{
	font-weight: normal;
	width: 325px;
	margin: 0;
	float: left;
}

.ad_320x50
{
	width: 350px;
	height: 50px;
	margin: 150px 0;
}


@media screen and ( min-width: 949px ) {
	.smallscreen
	{
		display: none;
	}
}
@media screen and ( max-width: 950px ) {
	.widescreen
	{
		display: none;
	}
	#phone
	{
		display: none;
	}
	.section
	{
		margin: 0 auto;
	}
}