/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #b2d8f2;
		font: 16px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #000;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 1.75em; line-height: 2.75em;}
	h2 { font-size: 5.563em; color: #FFF; }
	h3 { font-size: 2.125em; line-height: 3em; color:#FFF; font-family: "adobe-garamond-pro",times,serif; font-weight: 700; font-style: italic;}
	h4 { font-size: 2.5em; line-height: 1.8em; color:#000; font-family: "adobe-garamond-pro",times,serif; font-weight:600;letter-spacing: 2px;}
	h5 { font-size: 4em; color:#000; text-transform: uppercase;}
	h6 { font-size: 1.313em; text-transform:uppercase; font-family:"brandon-grotesque",arial,helvetica,sans-serif;letter-spacing:2px; margin:0 0 40px;}
	

	p { font-size:1em; line-height:1.625em;margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold;}
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #4083b1; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

/* #Video Background
================================================== */
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
}
    
.screen {
    position: relative;
    height: 100%;
    width: 100%; /*  NOTE: numVideos/100%  */;
    float: left;
    background-color: #b2d8f2;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height:auto;
    height: auto;
    width: auto;
}

/* #Site Border
================================================== */
#top, #bottom, #left, #right {
	background: #000;
	position: fixed;
	z-index:999;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 25px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
		.back-to-top{
			display:block;
			background:#000;
			position:fixed;
			z-index:999;
			top:0;
			right:0;
			
		}
		.back-to-top a{
			display:block;
			width:55px;
			height:55px;
			text-indent: -999em;
			background-image:url(../img/back-to-top.png);
			background-size:55px;
				-webkit-background-size: 55px;
	-moz-background-size: 55px;
	-o-background-size: 55px;
		}
		.back-to-top a:hover{
			display:block;
			width:55px;
			height:55px;
			text-indent: -999em;
			background-image:url(../img/back-to-top-hover.png);
			background-size:55px;
				-webkit-background-size: 55px;
	-moz-background-size: 55px;
	-o-background-size: 55px;
	-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
		}
/* #Header
================================================== */
header {
	position:relative;
	width: 100%;
	height: auto;
	min-height: 250px;
	float: left;
	background-color: #FFF;
	display:block;
	z-index:999;
	
}

header #header-container {
	width: 100%;
	height: auto;
}

header #header-container h1 {
	display: block;
	width: 86px;
	height: 86px;
	margin: 75px auto 0;
}

header #header-container h1 a {
	display: block;
	width: 86px;
	height: 86px;
	text-indent: -999em;
	background: url(../img/logo.png) no-repeat 0 0;
	background-size: 86px;
	-webkit-background-size: 86px 172px;
	-moz-background-size: 86px 172px;
	-o-background-size: 86px 172px;
}

header #header-container h1 a:hover {
	background-position: 0 -87px;
}

header #header-container h2 {
	display: block;
	width: 300px;
	margin: 20px auto 0;
	padding: 0 0 60px;
	color: #000;
	font-size: 2em;
	text-transform: uppercase;
	line-height: 45px;
	text-align: center;

}

header #header-container h2 span {
	font-size: 1em;
	display: block;
	color: #000;
	text-align: center;
	letter-spacing: 15px;
	margin-left:13px;
}

.bg-white {position:absolute;background-color: white; width:100%;top:1020px;height:auto;z-index: 0;}
.bg-white2 {position:absolute;background-color: white; width:100%;height:auto;z-index: 0; top:300px;}
.bg-black {position:absolute;background-color: black; width:100%;height:auto;z-index: 0;}
/* #Video Overlay
================================================= */
#vid-over {margin:0 auto;width:100%;text-align: center;text-transform: uppercase;font-weight: 700;line-height: 5em;letter-spacing: 15px; top:160px; font-family: "adobe-garamond-pro",times,serif; text-transform: uppercase;}


/* #Intro Paragraph
================================================= */
#intro-p {position:relative;
	display:block;
	text-align: center;
	margin-top:90px;
	min-height:300px;
	padding-bottom: 80px;
}
#intro-p p {font-family:"adobe-garamond-pro",garamond,serif;font-weight:600;font-style: italic; font-size: 1.5em;padding-top:55px;}

/* #Process
================================================= */
#section-wrap {position:relative;width:100%;display:block;background-image: url(../img/blueborder.png);background-position: center top;background-repeat:no-repeat;padding-bottom:80px;margin:0;}

#titles {border-bottom:9px solid #000000; 
padding-bottom: 30px;
margin:80px 0 0;
letter-spacing: 3px;
line-height:3.5em;
}

#knight-bucket { 
width:30%;
margin-top:100px;
text-align: center; 
line-height: 1.25em; 
font-weight:600; 
padding-top:185px;
float:left;
background-image: url(../img/icon-knight.png);
background-repeat: no-repeat; 
background-position: center top; 
background-size: 138px 134px; 
-webkit-background-size: 138px 134px;
-moz-background-size: 138px 134px;
-o-background-size: 138px 134px;
}
#drop-bucket {
width:30%;
padding-top:185px;
line-height:1.25em;
margin:100px 5% 0;
text-align: center;
line-height: 1.25em;
font-weight:600;
float:left;
background-image: url(../img/icon-ink.png);
background-repeat: no-repeat;
background-position: center top;
background-size: 138px 134px;
-webkit-background-size: 138px 134px;
-moz-background-size: 138px 134px;
-o-background-size: 138px 134px;
}
#plane-bucket { 
padding-top:185px;
width:30%;
margin-top:100px;
text-align: center; 
line-height: 1.25em; 
font-weight:600;
float:left;
background-image: url(../img/icon-airplane.png);
background-repeat: no-repeat; 
background-position: center top; 
background-size: 138px 134px;
-webkit-background-size: 138px 134px;
-moz-background-size: 138px 134px;
-o-background-size: 138px 134px;
}

/* #Work
================================================= */
#port-img {position:relative; margin:100px 0 0;}
#port-img p {text-transform: uppercase; line-height: .5em;text-align: left;margin-top:30px; font-family:"brandon-grotesque",arial,helvetica,sans-serif;}
#port-des {margin:167px 0 0;text-align: center;}
#port-des span { font-size: 1.313em; text-transform:uppercase; font-family:"brandon-grotesque",arial,helvetica,sans-serif;letter-spacing:2px;}
#port-des em {font-family:"adobe-garamond-pro",times,serif;font-weight: 700;font-style: italic;}
#port-des p {font-family:"adobe-garamond-pro",times,serif;font-weight: 600;font-style: normal;}
#port-des a {font-style:italic;font-weight: 700;font-size:1.25em;}
#txtbrdr {width:60px; height:2px;margin:0 auto 20px;background-color: #000;}
#port-border {border-bottom: 2px solid #f1f1f1; padding-bottom: 100px;}

#portfolio-img {position:relative; margin-top:15px;}
#first{position:relative; margin-top:75px;}
#portfolio-img p {text-transform: uppercase; line-height: .5em;text-align: left;margin-top:20px; font-family:"brandon-grotesque",arial,helvetica,sans-serif;}
#credits {margin:100px 0;}
#credits p {text-transform: uppercase; line-height: .5em;text-align: left;margin-top:30px; font-family:"brandon-grotesque",arial,helvetica,sans-serif;}



/* Information
================================================= */
#info-pad{
	padding-top:60px; margin:0;
}
#bust {
	width:100%;
	height:134px;
	margin:0 0 40px;
	display:block;
	background-image: url(../img/icon-bust.png); 
	background-position: center top;
	background-repeat: no-repeat; 
	background-size: 69px 134px;
	-webkit-background-size: 69px 134px;
	-moz-background-size: 69px 134px;
	-o-background-size: 69px 134px;
	}
#about-me{
	font-family:"adobe-garamond-pro",times,serif;
	font-weight: 600;
	font-style: normal;
	padding-bottom: 60px;
}
#about-me span{
	font-size:1.5em;
}
#featured {
	padding-bottom: 60px;
}
#social {
	float:right;
}
.featured {line-height:.5em;}

/* Footer
================================================= */
footer {
	position:relative;
	padding-top:70px;
	padding-bottom: 70px;
	font-family:"adobe-garamond-pro",times,serif;
	font-weight: 400;
	font-style: normal;
	color:#c1c1c1;
	font-size: 1em;
	text-align: center;
}